<!DOCTYPE html>
<html>
  <head>
    <title>SocialBook</title>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- <%= favicon_link_tag 'favicon.ico' %> -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
